<nav class="navbar">
  <div class="logo">
    <span class="material-symbols-outlined" style="vertical-align: middle; margin-right: 5px;">dentistry</span>
    Clínica Odontológica
  </div>
  <ul class="nav-links">

    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>

    <ng-container *ngIf="usuarioRol === 'ADMIN'">
      <li><a routerLink="/pacientes" routerLinkActive="active">Pacientes</a></li>
      <li><a routerLink="/medicos" routerLinkActive="active">Médicos</a></li>
      <li><a routerLink="/citas" routerLinkActive="active">Gestión de Citas</a></li>
    </ng-container>

    <ng-container *ngIf="usuarioRol === 'ODONTOLOGO'">
      <li><a routerLink="/mis-citas" routerLinkActive="active">Mis Citas</a></li>
      <li><a routerLink="/mis-pacientes" routerLinkActive="active">Mis Pacientes</a></li>
    </ng-container>

    <li>
      <a (click)="cerrarSesion()" style="cursor: pointer; color: #fca5a5;">
        Cerrar Sesión
      </a>
    </li>

  </ul>
</nav>
