<div class="form-wrapper">
  <div class="form-card">

    <div class="form-header">
      <span class="icon-back" routerLink="/medicos" style="display: flex; align-items: center; cursor: pointer; color: #666; font-weight: 500;">
        <span class="material-symbols-outlined" style="margin-right: 4px; font-size: 20px;">arrow_back</span> Volver
      </span>
      <h2>{{ tituloPantalla }}</h2>
      <p>Ingresa la información requerida para dar de alta al odontólogo.</p>
    </div>

    <form [formGroup]="medicoForm" (ngSubmit)="guardar()">
      <div class="form-grid">
        <div class="input-group">
          <label>Nombre del Médico</label>
          <input type="text" formControlName="nombre" placeholder="Ej. Juan Alberto">
          <div class="error-msg" *ngIf="medicoForm.get('nombre')?.invalid && medicoForm.get('nombre')?.touched">
            <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 16px;">warning</span> El nombre es obligatorio (solo letras).
          </div>
        </div>

        <div class="input-group">
          <label>Apellidos</label>
          <input type="text" formControlName="apellido" placeholder="Ej. Perez Torres">
          <div class="error-msg" *ngIf="medicoForm.get('apellido')?.invalid && medicoForm.get('apellido')?.touched">
            <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 16px;">warning</span> El apellido es obligatorio (solo letras).
          </div>
        </div>
      </div>

      <div class="input-group">
        <label>Número de Teléfono Celular</label>
        <div class="input-with-prefix">
          <span class="prefix">+51</span>
          <input type="text" formControlName="telefono" placeholder="987 654 321">
        </div>
        <div class="error-msg" *ngIf="medicoForm.get('telefono')?.invalid && medicoForm.get('telefono')?.touched">
          <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 16px;">warning</span> Debe ser un número peruano válido (9 dígitos y empezar con 9).
        </div>
      </div>

      <div class="input-group">
        <label>Especialidad Médica</label>
        <select formControlName="especialidad">
          <option value="GENERAL">Odontología General</option>
          <option value="ORTODONCIA">Ortodoncia</option>
          <option value="ENDODONCIA">Endodoncia</option>
          <option value="PERIODONCIA">Periodoncia</option>
          <option value="CIRUGIA">Cirugía Bucal</option>
          <option value="ODONTOPEDIATRIA">Odontopediatría</option>
        </select>
      </div>

      <div class="form-footer-actions">
        <button type="button" class="btn-secondary-action" routerLink="/medicos">Cancelar</button>
        <button type="submit" class="btn-primary-action" [disabled]="medicoForm.invalid">
          Guardar Registro
        </button>
      </div>
    </form>
  </div>
</div>
