<div class="form-wrapper">
  <div class="form-card">
    <div class="form-header">
      <span class="icon-back" routerLink="/pacientes" style="display: flex; align-items: center; cursor: pointer; color: #666; font-weight: 500;">
        <span class="material-symbols-outlined" style="margin-right: 4px; font-size: 20px;">arrow_back</span> Volver
      </span>
      <h2>{{ tituloPantalla }}</h2>
      <p>Ingresa la información requerida para la ficha clínica del paciente.</p>
    </div>

    <form [formGroup]="pacienteForm" (ngSubmit)="guardar()">
      <div class="form-grid">
        <div class="input-group">
          <label>Nombre del Paciente</label>
          <input type="text" formControlName="nombre" placeholder="Ej. Carlos Alberto">
          <div class="error-msg" *ngIf="pacienteForm.get('nombre')?.invalid && pacienteForm.get('nombre')?.touched">
            <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 16px;">warning</span> El nombre es obligatorio (solo letras).
          </div>
        </div>

        <div class="input-group">
          <label>Apellidos</label>
          <input type="text" formControlName="apellido" placeholder="Ej. Ramirez Torres">
          <div class="error-msg" *ngIf="pacienteForm.get('apellido')?.invalid && pacienteForm.get('apellido')?.touched">
            <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 16px;">warning</span> El apellido es obligatorio (solo letras).
          </div>
        </div>
      </div>

      <div class="input-group">
        <label>Número de DNI</label>
        <input type="text" formControlName="dni" placeholder="Ej. 74839201" maxlength="8">
        <div class="error-msg" *ngIf="pacienteForm.get('dni')?.invalid && pacienteForm.get('dni')?.touched">
          <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 16px;">warning</span> Debe ingresar un DNI válido de 8 dígitos.
        </div>
      </div>

      <div class="input-group">
        <label>Número de Teléfono Celular</label>
        <div class="input-with-prefix">
          <span class="prefix">+51</span>
          <input type="text" formControlName="telefono" placeholder="987 654 321" maxlength="9">
        </div>
        <div class="error-msg" *ngIf="pacienteForm.get('telefono')?.invalid && pacienteForm.get('telefono')?.touched">
          <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 16px;">warning</span> Debe ser un número válido (9 dígitos y empezar con 9).
        </div>
      </div>

      <div class="form-footer-actions">
        <button type="button" class="btn-secondary-action" routerLink="/pacientes">Cancelar</button>
        <button type="submit" class="btn-primary-action" [disabled]="pacienteForm.invalid">
          Guardar Registro
        </button>
      </div>
    </form>
  </div>
</div>
