<div class="medicos-container">
  <div class="table-header-section">
    <div>
      <h2>Control de Citas</h2>
      <p>Programa y administra las citas odontológicas del día.</p>
    </div>
    <button class="btn-nuevo" routerLink="/citas/nueva">
      <span class="material-symbols-outlined" style="vertical-align: middle; margin-right: 5px; font-size: 20px;">event_add</span> Programar Cita
    </button>
  </div>

  <div class="card-table-wrapper">
    <table class="tabla-premium">
      <thead>
      <tr>
        <th>Fecha y Hora</th>
        <th>Paciente</th>
        <th>Odontólogo</th>
        <th>Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cita of citas">
        <td>
          <span class="material-symbols-outlined" style="vertical-align: middle; font-size: 18px; color: #1e88e5; margin-right: 4px;">calendar_month</span>
          <strong>{{ cita.fechaHora | date:'dd/MM/yyyy' }}</strong>
          <span style="color: #666; font-size: 0.9em; margin-left: 5px;">⏰ {{ cita.fechaHora | date:'HH:mm' }}</span>
        </td>
        <td class="col-name">
          <div class="name-container">
            <span class="full-name">{{ cita.paciente.nombre }} {{ cita.paciente.apellido }}</span>
          </div>
        </td>
        <td>Dr. {{ cita.odontologo.apellido }}</td>
        <td>
            <span class="badge" [ngClass]="cita.estado.toLowerCase()">
              <span class="material-symbols-outlined" style="font-size: 14px; vertical-align: middle; margin-right: 2px;">
                {{ cita.estado === 'COMPLETADA' ? 'check_circle' : cita.estado === 'PENDIENTE' ? 'schedule' : 'info' }}
              </span>
              {{ cita.estado }}
            </span>
        </td>
        <td class="col-actions">
          <div class="actions-wrapper">
            <button class="btn-action btn-editar" (click)="editar(cita.id!)">
              <span class="material-symbols-outlined" style="font-size: 16px; vertical-align: middle;">edit</span>
            </button>
            <button class="btn-action btn-eliminar" (click)="eliminar(cita.id!)">
              <span class="material-symbols-outlined" style="font-size: 16px; vertical-align: middle;">cancel</span>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="citas.length === 0">
        <td colspan="5" class="no-data">No hay citas programadas.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
